.Hooray {
    text-align: center;
  }
  

  .Hooray-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  /* The animation code */
  @keyframes textChange {
    5% {color: #09d3ac;}
    20%   {color:rgb(233, 120, 248);}
    20%  {color: yellow;}
    20% {color: greenyellow;}
    20%  {color: blue;}
    20% {color: red}
    20% {color: #09d3ac;}
    20% {color: #09d3ac;}
    20%   {color:rgb(233, 120, 248);}
    20%  {color: yellow;}
    20% {color: greenyellow;}
    20%  {color: blue;}
    50% {color: red}
    100% {color: #09d3ac;}
    10% {color: #09d3ac;}
    25%   {color:rgb(233, 120, 248);}
    25%  {color: yellow;}
    25% {color: greenyellow;}
    50%  {color: blue;}
    50% {color: red}
    100% {color: #09d3ac;}
  }
  
  /* The element to apply the animation to */
  /* div {
    animation-name: textChange;
    animation-duration: 4s;
  } */
  .text {
    color: #09d3ac;
    font-family: fantasy;
    animation-name: textChange;
    animation-duration: 25s;
    font-size: calc(30px + 2vmin);
  }

  .jump {
      width: 50px;
      height: 200px;
  }