.Intro {
    text-align: center;
    background-image: url("sky2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  .text {
    color: silver;
    font-family: fantasy;
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 1;
    animation-name: textChange;
    
    font-size: calc(30px + 2vmin);
  }
  .text2 {
    color: silver;
    font-family: fantasy;
    text-align: center;
    margin-top: 15%;
  
    animation-name: textChange;
    animation-duration: 25s;
    font-size: calc(30px + 2vmin);
  }

  .quizBox {
    color: greenyellow;
    width: 40%;
    height: 50%;
    background-color: black;
    border-style: outset;
    border-color: darkorchid;
    border-width: 2%;
  
  }



  /* Moving Text */

  @keyframes textScroll {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 40%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  @keyframes textScroll2 {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    20% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
    75% {
      position: absolute;
      bottom: 60%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  @keyframes textScroll3 {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
   
    75% {
      position: absolute;
      bottom: 60%;
      opacity: 1;
    }
  
    100% {
      opacity: 100;
    }
    
  }
  
  .one {
    font-size: 5rem;
    position: absolute;
    left: 10%;
    bottom: 80%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 0s;
    animation-duration: 5s;
  }
  .two {
    font-size: 5rem;
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 5s;
    animation-duration: 5s;
  }
  .three {
    font-size: 5rem;
    position: absolute;
    left: 15%;
    bottom: 90%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll2;
    animation-delay: 10s;
    animation-duration: 5s;
  }
  .three2 {
    font-size: 5rem;
    position: absolute;
    left: 55%;
    bottom: 10%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 15s;
    animation-duration: 5s;
  }
  .four {
    font-size: 5rem;
    position: absolute;
    left: 30%;
    bottom: 50%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 20s;
    animation-duration: 5s;
  }
  .five {
    font-size: 5rem;
    position: absolute;
    left: 2%;
    bottom: 25%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 25s;
    animation-duration: 10s;
  }
  .six {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    bottom: 90%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 33s;
    animation-duration: 10s;
  }
  .seven {
    font-size: 5rem;
    position: absolute;
    left: 2%;
    bottom: 60%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll2;
    animation-delay: 40s;
    animation-duration: 10s;
  }
  .eight {
    font-size: 5rem;
    position: absolute;
    left: 2%;
    bottom: 50%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 45s;
    animation-duration: 10s;
  }
  .nine {
    font-size: 5rem;
    position: absolute;
    left: 30%;
    bottom: 50%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: textScroll;
    animation-delay: 50s;
    animation-duration: 20s;
  }