.Intro {
    text-align: center;
    background-image: url("space1.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  .App-logo {
    height: 30vmin;
  }
  
  /* .Intro-header {
    background-image: url("/public/space1.png");
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  .App-link {
    color: #09d3ac;
  }
  /* The animation code */
  @keyframes textChange {
    5% {color: #09d3ac;}
    20%   {color:rgb(233, 120, 248);}
    20%  {color: yellow;}
    20% {color: greenyellow;}
    20%  {color: blue;}
    20% {color: red}
    20% {color: #09d3ac;}
    20% {color: #09d3ac;}
    20%   {color:rgb(233, 120, 248);}
    20%  {color: yellow;}
    20% {color: greenyellow;}
    20%  {color: blue;}
    50% {color: red}
    100% {color: #09d3ac;}
    10% {color: #09d3ac;}
    25%   {color:rgb(233, 120, 248);}
    25%  {color: yellow;}
    25% {color: greenyellow;}
    50%  {color: blue;}
    50% {color: red}
    100% {color: #09d3ac;}
  }
 
  .text {
    color: silver;
    font-family: fantasy;
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(37, 36, 36);
    opacity: 0.9;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 5px 20px 3px rgba(0,0,0,.5);
    box-shadow: 20px 10px 20px rgba(0,0,0,.5);
    animation-name: textChange;
    animation-duration: 25s;
    font-size: calc(30px + 2vmin);
  }
  .text2 {
    color: silver;
    font-family: fantasy;
    text-align: center;
    margin-top: 15%;
  
    animation-name: textChange;
    animation-duration: 25s;
    font-size: calc(30px + 2vmin);
  }

  .quizBox {
    color: greenyellow;
    width: 40%;
    height: 50%;
    background-color: black;
    border-style: outset;
    border-color: darkorchid;
    border-width: 2%;
  
  }